div#popup {
    place-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    inset: 0;
    background-color: rgba(228, 207, 50, 0.7)
}

div#model-box {
    border-radius: 14px;
    width: 340px;
    height: 47%;
    background-color: rgba(40, 38, 23, 0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

div#model-box button {
    width: 60%;
    height: 59px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(#00d500, #646895);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

div#model-box p:nth-child(n+1) {
    margin-top: 0;
    margin-bottom: 12px;
}

span {
    text-transform: uppercase;
}

